{% extends 'base.html.twig' %}
{% block title %}{{ 'titre_page_index'|trans }}{% endblock %}
{% block body %}
<div class="container">
    <div class="row titre_index">
        <div class="col-12">
            <h1 class="text-center">{{ 'titre_page_index'|trans }}</h1>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <p>{{ 'texte_index_1'|trans }}
            </p>
            <p>{{ 'texte_index_2'|trans }}:</p>
            <ul>
                <li>{{ 'li_index_1'|trans }}</li>
                <li>{{ 'li_index_2'|trans }}</li>
            </ul>
            <strong>{{ 'texte_index_3'|trans }}:</strong>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>{{ 'tableau_index_1'|trans }}</th>
                        <th>{{ 'tableau_index_2'|trans }}</th>
                        <th>{{ 'tableau_index_3'|trans }}</th>
                    </tr>
                </thead>
                    <tr>
                        <td>{{ 'tableau_index_4'|trans }}</td>
                        <td>16 euros</td>
                        <td>8 euros</td>
                    </tr>
                    <tr>
                        <td>{{ 'tableau_index_5'|trans }}</td>
                        <td>12 euros</td>
                        <td>6 euros</td>
                    </tr>
                    <tr>
                        <td>{{ 'tableau_index_6'|trans }}</td>
                        <td>10 euros</td>
                        <td>5 euros</td>
                    </tr>
                    <tr>
                        <td>{{ 'tableau_index_7'|trans }}</td>
                        <td>8 euros</td>
                        <td>4 euros</td>
                    </tr>
            </table>
        </div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col-4"></div>
        <div class="col-md-4 ml-auto mr-auto text-center">
            <a class="btn btn-primary" href="{{ url("booking") }}" role="button">{{ 'bouton_index'|trans }}</a>
        </div>
        <div class="col-4"></div>
    </div>
</div>
{% endblock %}