
{% extends 'base.html.twig' %}

{% block title %}Paiement effectuer{% endblock %}

{% block body %}
<div class="container background-payment mt-5">
        <div class="row">
                <div class="col-12 text-center">
                        <h1>{{ 'titre_charge_1'|trans }}</h1>
                        <hr>
                        <br>
                        <br>
                        <h3><strong>{{ 'titre_charge_2'|trans }}.</strong></h3>
                        <p><strong>{{ 'texte_charge_1'|trans }} </strong></p>
                        <br>
                        <br>
                        <h3><strong>{{ 'titre_charge_3'|trans }}</strong></h3>
                </br>
                </div>
        </div>
        <div class="row charge_1">
                <div class="col-4"></div>
                <div class="col-4">
                        <a class="btn btn-block btn-secondary" href="{{ path('home') }}">{{ 'bouton_retour_charge'|trans }}</a>
                </div>
                <div class="col-4"></div>
        </div>
</div>

{% endblock %}
