{% extends 'base.html.twig' %}
    
{% block body %}
<div class="background">
    </br>
        <div class="container">
        </br>
            <h1 class="hometext">{{ 'titleWelcomeLouvre'|trans }}</h1>
            <hr>    

            <p class="hometext">{{ "descriptionMuseum1"|trans }}</p>

            <p class="hometext">{{ "descriptionMuseum2"|trans }}</p>

            <div class="text-center">
                <form action="booking">
                    <button type="submit" class="btn btn-secondary">{{"wordTicketing"|trans}}</button>
                    {# <input type="submit" value={{ "wordTicketing"|trans }} /> #}
                </form>
            </div>
        </br>
        </br>
        </div>
</div>

{% endblock %}