{% extends 'base.html.twig' %}

{% block title %}Informations pratiques{% endblock %}
    
{% block body %}
</br>
<div class="container container1">
	</br>
	<h1 class="text-center">{{ "wordInformation"|trans}}</h1>
	<hr>

		<div class="container">
			<h4>{{ "openingTime"|trans}}</h4>
			</br>
			<p> {{ "monday.monday_1"|trans}} : {{ 'monday.monday_2'|trans }} <br/>
				{{ "tuesday.tuesday_1"|trans}} : {{ 'tuesday.tuesday_2'|trans }} <br/>
				{{ "wednesday.wednesday_1"|trans}} : {{ "wednesday.wednesday_2"|trans}} <br/>
				{{ "thursday.thursday_1"|trans}} : {{ "thursday.thursday_2"|trans}} <br/>
				{{ "friday.friday_1"|trans}} : {{ "friday.friday_2"|trans}} <br/>
				{{ "saturday.saturday_1"|trans}} : {{ "saturday.saturday_2"|trans}} <br/>
				{{ "sunday.sunday_1"|trans}} : {{ "sunday.sunday_2"|trans}} </p>

			<p>{{ "closing"|trans}}</p>

			<p>{{ "daysOff"|trans}}</p>

			<hr>

			<h4>{{ "prices"|trans}}</h4>
			</br>
			<p> {{ "kids"|trans}} : {{ "free"|trans}} <br/>
			{{ "kids2"|trans}} : 8€ <br/>
			{{ "adults"|trans}} : 16€ <br/>
			{{ "seniors"|trans}} : 12€ </p>
			<p> {{ "halfday"|trans}} : {{"halfprice"|trans}}.<p>
			<p> {{ "reducedPrice"|trans}} : 10€ ({{ "who"|trans}},...) {{ "justificated"|trans}}.</p>

			<hr>

			<h4>{{ "acces"|trans}}</h4>
			</br>
			<p> {{ 'metro.metro_1'|trans }} : {{ 'metro.metro_2'|trans }} </p>

			<p> {{ 'bus.bus_1'|trans }} : {{ 'bus.bus_2'|trans }} n° 21, 24, 27, 39, 48, 68, 69, 72, 81, 95 </p>

			<p>{{ "velib"|trans}}<br/>
			n°1015 : 2 place A. Malraux	<br/>
			n°1023 : 165 rue Saint-Honoré	<br/>
			n°1014 : 5 rue de l’Echelle	<br/>
			n°1013 : 186 rue Saint-Honoré </p>

			<p> {{ "car"|trans}} : {{ "carPark"|trans}}. </p>

			<p> {{ 'bateau_bus.bateau_bus_1'|trans }}: {{ 'bateau_bus.bateau_bus_2'|trans }} </p>
		</div>
	<br>
</div>
{% endblock %}
