<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/png" href="{{ asset('/image/icon_3.png') }}" />
        {% block stylesheets %} {% endblock %}
        <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('/css/style.css') }}" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <script src="https://js.stripe.com/v3/"></script>

       
    </head>
    <header>
        <nav class="navbar fixed-top navbar-expand-lg  navbar-dark bg-dark">
            <a class="navbar-brand" href="{{ path('home') }}">
                <img src="{{ asset('/image/logo_3.png') }}" width="190" height="70" class=" align-left rounded float-left" alt=" Billeterie du Louvre">
            </a>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('booking') }}">Billeterie <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('infos') }}">Informations pratiques</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">FR/EN</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{ asset('/image/Image_louvre.jpg') }}" width="100%" height="600" class="d-block w-100" alt="logo_louvre">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Le Musée du Louvre</h5>
                        <p>Réservation de billets en ligne</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('/image/vinci.jpg') }}" width="100%" height="600" class="d-block w-100" alt="logo_louvre">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="text-warning">Exposition Léonard de Vinci pour visiteur individuel</h5>
                        <p>Du 24 octobre 2019 au 24 février 2020.
                            Achat et réservation obligatoire, uniquement en ligne.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('/image/louvre-carrousel-albrecht-duerer-portrait-de-l-artiste-portant-un-chardon.jpg') }}" width="100%" height="600" class="d-block w-100" alt="logo_louvre">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Exposition Figure d’artiste</h5>
                        <p>du 25 Septembre 2019 au 29 Juin 2020</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>



        {% for label, messages in app.flashes %}
            <div class="container">
                <br>
                <div class="alert black alert-{{ label }}">
                    {%  for message in messages %}
                        <p>{{ message | raw }}</p>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </header>

    <body>


            {% block body %}
                
            {% endblock %}



            {% block javascripts %}


            {% endblock %}   
    </body>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        <script src="{{ asset ('pickadate/picker.js')}}"></script>
        <script src="{{ asset ('pickadate/picker.date.js')}}"></script>
        <script src="{{ asset ('pickadate/legacy.js')}}"></script>
    <footer class="mt-10 sm lg md">
        <br>
        <div class="row text-center">
            <div class="col-4 center-block">
                <p><strong>Suivez-nous sur les réseaux sociaux</strong></p>
                <img src="{{ asset('/image/facebook_icon.png') }}" width="50" height="50" class=" " alt=" Facebook">
                <img src="{{ asset('/image/pinterese.png') }}" width="50" height="50" class=" " alt="pinterese">
                <img src="{{ asset('/image/twitter.png') }}" width="50" height="50" class=" " alt="Twitter">
                <img src="{{ asset('/image/snapchat.png') }}" width="50" height="50" class="" alt="Snapchat">
            </div>
            <div class="col-4">
                <p>Paiement 100% sécurisé <i class="fab fa-cc-visa" ></i><i class="fab fa-cc-mastercard"></i><i class="fab fa-cc-stripe"></i></p>
                <hr>
                <p><i class="far fa-copyright"></i>2019 Billeterie du Louvre </p>
                <p>Réaliser par ZIBELLI Ludovic | Mention légales</p>
            </div>
            <div class="col-4">
                <p><strong>Contacter-nous au Tél</strong></p>
                <p> +33 (0)1 40 20 53 17</p>
                <p>Tous les jours, sauf le mardi, de 9h à 18h30</p>
                <p>(21h30 les mercredis et vendredis)</p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-12">

            </div>
        </div>
    </footer>

</html>
